@model IEnumerable<UserEvent>

@* <button type="button" id="AddEvent" name="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#addUser" data-url="@Url.Action("DynamicCreate")">Add Event</button> *@
<button type="button" id="AddEvent" name="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#addUser" data-url="@Url.Action("DynamicCreate")">Add Event Dynamic</button>
<div class="container">
    <br />
    <div style="width:90%; margin:0 auto;">
        <table id="demoGrid" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr style="background: azure;">
                    <td style="width:200px">Event Name</td>
                    <td style="width:200px">Description</td>
                    <td style="width:200px">Start Date</td>
                    <td style="width:200px">EndDate</td>
                    <td style="width:200px">Location</td>
                    <td style="width:200px">City</td>
                    <td style="width:200px">Organizer Name</td>
                    <td style="width:200px">Registration Link</td>
                    <td style="width:200px">QR Code</td>
                    <td style="width:300px">User Link</td>
                    <td style="width:400px">Custom Fields List</td>
                    <td style="width:350px">Action</td>
                </tr>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td style="width:200px">@obj.EventName</td>
                        <td style="width:200px">@obj.Description</td>
                        <td style="width:200px">@obj.StartDate</td>
                        <td style="width:200px">@obj.EndDate</td>
                        <td style="width:200px">@obj.Location</td>
                        <td style="width:200px">@obj.City</td>
                        <td style="width:200px">@obj.OrganizerName</td>
                        <td style="width:200px"><a href="https://localhost:5003/User/UserRegistration?EventId=@obj.Id">click here</a></td>
                        <td style="width:200px"><img src="@obj.BrCodeURL" style="width: 100px;"></td>
                        <td style="width:300px"><a href="/Admin/UserDetail?EventId=@obj.Id">User List</a></td>
                        <td style="width:400px"><a href="https://localhost:5003/Admin/ViewCustomFields?EventId=@obj.Id">click here</a>
                        
                        <td style="width:350px">
                            @*<button type="button" id="AddEventEdit" name="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#addUser" data-url="@Url.Action($"EditUser/{@obj.Id}")">Edit</button>*@
                            <button type="button" id="AddEventEdit" name="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#addUser" onclick="EditEvent(@obj.Id)">Edit</button>
                            <button name="DeleteItem" class="btn btn-danger m-1" onclick="Delete(@obj.Id)" data-id="@obj.Id">DELETE</button>
                        </td>

                    </tr>
                }
            </thead>
        </table>
    </div>
</div>
<div id="PalceHolderHere"></div>
@section Scripts {
    <script>
        $(document).on('click', '#btnUserClose', function (e) {
            $('#PalceHolderHere').find('.modal').modal('hide');
        });

        $("#AddEvent").click(function () {
            var url = $(this).data('url');
            var decodeurl = decodeURIComponent(url);
            $.get(decodeurl).done(function (data) {
                $('#PalceHolderHere').html(data);
                $('#PalceHolderHere').find('.modal').modal('show');
            })
        });
       
        function Delete(Id) {
            $.ajax({
                type: "DELETE",
                url: "/Admin/DeleteCustomer",
                data: { id: Id },
                success: function () {
                    alert("Delete success!");
                    location.reload();
                },
                error: function (data) {
                    alert("Error: " + data.id);
                }
            });
        }
        function EditEvent(Id) {
            $.ajax({
                type: "POST",
                url: "/Admin/EditUser",
                data: { id: Id },
                success: function(response) {
                    debugger
                    console.log(response);
                    $('#PalceHolderHere').html(response);
                    $('#PalceHolderHere').find('.modal').modal('show');
                },
                error: function (data) {
                    alert("Error: " + data.id);
                }
            });            
        }
        
    </script>
}