@model IEnumerable<UserEvent>

 @* <button type="button" id="AddEvent" name="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#addUser" data-url="@Url.Action("DynamicCreate")">Add Event Dynamic</button> *@
@*<button type="button" id="AddEvent" name="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#addUser" data-url="@Url.Action("DynamicCreate")">Add Event</button>
<div class="container">
    <br />
    <div style="width:90%; margin:0 auto;">
        <table id="demoGrid" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr style="background: azure;">
                    <td style="width:200px">Event Name---</td>
                    <td style="width:200px">Description</td>
                    <td style="width:200px">Start Date</td>
                    <td style="width:200px">EndDate</td>
                    <td style="width:200px">Location</td>
                    <td style="width:200px">City</td>
                    <td style="width:200px">Organizer Name</td>
                    <td style="width:200px">Registration Link</td>
                    <td style="width:200px">QR Code</td>
                    <td style="width:300px">User Link</td>
                    <td style="width:400px">Custom Fields List</td>
                    <td style="width:350px">Action</td>
                </tr>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td style="width:200px">@obj.EventName</td>
                        <td style="width:200px">@obj.Description</td>
                        <td style="width:200px">@obj.StartDate</td>
                        <td style="width:200px">@obj.EndDate</td>
                        <td style="width:200px">@obj.Location</td>
                        <td style="width:200px">@obj.City</td>
                        <td style="width:200px">@obj.OrganizerName</td>
                        <td style="width:200px"><a href="https://localhost:5003/User/UserRegistration?EventId=@obj.Id">click here</a></td>
                        <td style="width:200px"><img src="@obj.BrCodeURL" style="width: 100px;"></td>
                        <td style="width:300px"><a href="/Admin/UserDetail?EventId=@obj.Id">User List</a></td>
                        <td style="width:400px"><a href="https://localhost:5003/Admin/ViewCustomFields?EventId=@obj.Id">click here</a>

                        <td style="width:350px">
                            @*<button type="button" id="AddEventEdit" name="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#addUser" data-url="@Url.Action($"EditUser/{@obj.Id}")">Edit</button>*@
@*  <button type="button" id="AddEventEdit" name="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#addUser" onclick="EditEvent(@obj.Id)">Edit</button>
                            <button name="DeleteItem" class="btn btn-danger m-1" onclick="Delete(@obj.Id)" data-id="@obj.Id">DELETE</button>
                        </td>

                    </tr>
                }
            </thead>
        </table>
    </div>
</div>
<div id="PalceHolderHere"></div> *@

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="card-title mb-0">Event List</h4>
                        <a href="@Url.Action("CreateEvent", "Admin")" class="btn btn-primary" id="addEventBtn">Add Event</a>
                    </div>
                    <div class="table-responsive">
                        <table id="eventTable" class="table table-bordered table-hover ">
                            <thead class="">
                                <tr>
                                    <th scope="col">Event Name</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Start Date</th>
                                    <th scope="col">End Date</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">City</th>
                                    <th scope="col">Organizer Name</th>
                                    <th scope="col">QR Code</th>
                                    <th scope="col">User Link</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Dynamic rows here -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        // Delete function
        function Delete(Id) {
            if (confirm("Are you sure you want to delete this event?")) {
                $.ajax({
                    type: "DELETE",
                    url: "/Admin/DeleteEvent",
                    data: { id: Id },
                    success: function () {
                        alert("Delete success!");
                         window.location.reload();
                    },
                    error: function (data) {
                        console.log(data.responseText);
                        alert("Error: " + data.responseText);
                    }
                });
            }
        }

        $(document).ready(function () {
            var table = $('#eventTable').DataTable({
                ajax: {
                    url: '/Admin/GetEvents',
                    dataSrc: ''
                },
                columns: [
                    { data: 'eventName', 'autoWidth': true },
                    { data: 'description', 'autoWidth': true },
                    { data: 'startDate', 'autoWidth': true, render: function (data) { return data ? moment(data).format('DD-MM-YYYY') : 'N/A'; } },
                    { data: 'endDate', 'autoWidth': true, render: function (data) { return data ? moment(data).format('DD-MM-YYYY') : 'N/A'; } },
                    { data: 'location', 'autoWidth': true },
                    { data: 'city', 'autoWidth': true },
                    { data: 'organizerName', 'autoWidth': true },
                    { data: 'brCodeURL', 'autoWidth': true, render: function (data) { return `<img src="${data}" style="width: 100px; height: 100px; border-radius:0px !important;">`; } },
                    { data: 'id', 'autoWidth': true , render: function (data) { return `<a href="https://localhost:5003/User/UserRegistration?EventId=${data}">Click Here</a>`; } },
                    {
                        data: null, render: function (data, type, row) {
                            console.log(data);
                            return `  <a href="#" class="btn btn-sm" title="Delete" onclick="Delete(${data.id});">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                     <a href="/Admin/EventDetail?id=${data.id}" class="btn btn-sm" title="Edit">
                                     <i class="fas fa-edit"></i>
                                    </a>`;
                        }
                    }
                ],
                
            });
            // Close modal
            $(document).on('click', '#btnUserClose', function (e) {
                $('#PalceHolderHere').find('.modal').modal('hide');
            });

            $("#AddEvent").click(function () {
                var url = $(this).data('url');
                var decodeurl = decodeURIComponent(url);
                $.get(decodeurl).done(function (data) {
                    $('#PalceHolderHere').html(data);
                    $('#PalceHolderHere').find('.modal').modal('show');
                });
            });

            function EditEvent(Id) {
                $.ajax({
                    type: "POST",
                    url: "/Admin/EditUser",
                    data: { id: Id },
                    success: function (response) {
                        console.log(response);
                        $('#PalceHolderHere').html(response);
                        $('#PalceHolderHere').find('.modal').modal('show');
                    },
                    error: function (data) {
                        alert("Error: " + data.id);
                    }
                });
            }
        });
    </script>
}
