@model UserEventDetail
@{
    Layout = null;
}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Our distinct Purpose and our operational expertise across our business model will help realise our vision to grow our business, whilst decoupling our environmental footprint from our growth and increasing our positive social impact. This is captured in the Unilever Sustainable Living Plan." />
    <meta name="keywords" content="We,Weworldwide,worldwide,worldwide" />
    <meta name="author" content="Weworldwide" />
    <link rel="icon" href="Resources/iCON.png" sizes="32x32" />
    <title>
        BUSINESS SUPPORT SERVICE LLP
    </title>
    <!-- Bootstrap Core CSS -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>
<body>
    <form method="post" action="./VisitorTicket.aspx?Id=1" id="form1">
        <div class="aspNetHidden">
            <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKLTc2NzkxMTc0MA9kFgICAw9kFgwCAQ8PFgIeBFRleHQFDkRFVkVORFJBIERJWElUZGQCBQ8PFgIfAAUVU0lHTUEgVFJBREUgV0lOR1MgTExQZGQCBw8PFgIfAAUKOTQxNTUwMTkwMmRkAgkPDxYCHwBlZGQCCw8PFgIfAAUHTHVja25vd2RkAg0PDxYCHwBlZGRkiNcviQJjLwZS6pVu2Ne8jdvVQ4kn/3mmAUxN0qYSDyM=" />
        </div>
        <div class="aspNetHidden">

            <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="F138751B" />
        </div>
        <div>
            <div id="wrapper">
                <div id="page-wrapper" style="margin: 0px 0 0px 0;">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12 offset-md-4" style="margin-top: 10px;">
                                <div class="white-box" style="background: #ffffff00; box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.0);">

                                    <div class="row bg-title" id="div_print" style="padding: 15px 15px 0px; margin-bottom: 0px;">
                                        <div class="col-lg-12" style="margin-bottom: 10px; border-left: groove; border-right: groove; border-top: groove; border-bottom: groove">
                                            <center>
                                                <div>
                                                    <div>
                                                        <img src="~/sponsored.png" style="width: 70px;margin-bottom: -12px;" />
                                                        <p style="margin: 0;font-size: 13px;font-style: italic;">Presents</p>
                                                    </div>
                                                    <img src="~/Logo7.png" width="230" />
                                                    <div>
                                                        <p style="margin: 0;margin-top: 6px;font-size: 13px;font-style: italic;">Powered By</p>
                                                        <img src="~/CRMONELogo.png" style="width: 70px;margin-bottom: 8px;">
                                                    </div>
                                                    <h4 class="page-title" style="font-size:20px">
                                                        <i class="fa fa-user"></i>&nbsp;
                                                        <span id="txtname">@Model.Name</span>
                                                    </h4>

                                                    <h4 class="page-title" style="font-size:15px;margin-top:3px">
                                                        <span id="date">@Model.StartDate?.ToString("dd-MMM-yyyy")</span>
                                                    </h4>


                                                    <h4 class="page-title" style="font-size: 15px; margin-top: 3px">
                                                        <span id="companyname">@Model.EventName</span>
                                                    </h4>
                                                    <h4 class="page-title" style="font-size: 15px; margin-top: 3px">
                                                        <i class="fa fa-phone"></i>&nbsp;
                                                        <span id="contact">@Model.ContactNo</span>
                                                    </h4>
                                                    <h4 class="page-title" style="font-size: 15px; margin-top: 3px">
                                                        <i class="fa fa-envelope"></i>&nbsp;
                                                        <span id="email">@Model.Email</span>
                                                    </h4>


                                                    <h4 class="page-title" style="font-size: 15px; margin-top: 3px">
                                                        <i class="fa fa-map-marker"></i>&nbsp;
                                                        <span id="txtcity">@Model.City</span>


                                                    </h4>
                                                    <h4 class="page-title" style="font-size: 15px; margin-top: 3px;">
                                                        <span id="txtchapter"></span>
                                                    </h4>

                                                    <img src="@Model.BrCodeURL" style="height:140px;width:140px;" />
                                                </div>
                                                <div class=" footer" style="bottom:0% !important">
                                                    <h7 class="page-title" style="border-top-style: ridge;">
                                                        &nbsp;
                                                        <div style="margin-top:2px;border-top-style: ridge;">Event Venue</div>
                                                    </h7>
                                                    <h7 class="page-title">
                                                        <span id="Label2">@Model.Location</span>
                                                        <label></label>
                                                    </h7>

                                                    <h7 class="page-title">

                                                        <div style="margin-top:2px;">Developed By <a href="http://www.itfuturz.com/" target="_blank">itfuturz.com</a></div>
                                                    </h7>
                                                    <h7 class="page-title">

                                                        <div style="margin-top:2px;">Contact us <a href="https://wa.me/919879208321" target="_blank">919879208321</a> </div>
                                                    </h7>
                                                </div>

                                            </center>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    </form>
</body>
</html>
