@model List<UserEvent>

@{
    Layout = null;
}


<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BUSINESS SUPPORT SERVICE LLP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/assets/vendors/iconfonts/ionicons/dist/css/ionicons.css">
    <link rel="stylesheet" href="~/assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/assets/vendors/css/vendor.bundle.addons.css">
    <!-- inject:css -->
    <link rel="stylesheet" href="~/assets/css/shared/style.css">
    <link rel="stylesheet" href="~/assets/css/demo_1/style.css">
    <link rel="shortcut icon" href="~/assets/images/favicon.ico" />

    <!-- Meta Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '5813893548712110');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=5813893548712110&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Meta Pixel Code -->
    <style>
        .form-group {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class=" col-12 navbar-menu-wrapper d-flex align-items-center">
            </div>
        </nav>
    </header>
    <div class="container-fluid mt-4 page-body-wrapper">

        <div class="col-12 grid-margin">
            <div class="col-12 row">
                <div class="col-4">
                    <img id="logo" alt="Event Logo" class="img-fluid" />
                </div>
                <div class="col-4">
                    <img id="banner" alt="Event Banner" class="img-fluid" />
                </div>
                <div class="col-4">
                    <img id="sponsoredBy" alt="Sponsored By" class="img-fluid" />
                </div>
            </div>
            <div class="card mt-5">
                <div class="card-body">
                    <h2 class="card-title">Registration</h2>
                    <form id="customForm" class="form-sample">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Event Name</label>
                                    <div class="col-sm-9">
                                        <select id="eventSelect" name="EventId" class="form-control" required>
                                            <option value="" data-description="" data-hidden="" fees="" sele>-- select event --</option>
                                            @if (Model != null)
                                            {
                                                foreach (var type in Model)
                                                {
                                                    <option value="@type.Id" data-description="@type.Description" data-hidden="@type.IsHiddenField" Fees="@type.Fees">@type.EventName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="customFieldsContainer"></div>
                        <button type="submit" class="btn btn-success col-md-2">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col-12">
                <footer class="mt-2">
                    <img id="footer" class="img-fluid" alt="Event Footer" />
                </footer>
            </div>
        </div>

    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/assets/vendors/js/vendor.bundle.addons.js"></script>
    <script src="~/assets/js/shared/off-canvas.js"></script>
    <script src="~/assets/js/shared/misc.js"></script>
    <script src="~/assets/js/demo_1/dashboard.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#eventSelect').change(function () {
                var eventId = $(this).val();

                if (!eventId) {
                    $('#customFieldsContainer').empty();
                    $('#logo, #banner, #sponsoredBy, #footer').attr('src', '');
                    return;
                }

                $.ajax({
                    url: '@Url.Action("GetFieldsByEvent")',
                    type: 'GET',
                    data: { id: eventId },
                    success: function (response) {
                        $('#customFieldsContainer').empty();

                        if (response.userEvent.length > 0) {
                            var event = response.userEvent[0];
                            $('#logo').attr('src', 'data:image/png;base64,' + event.logo);
                            $('#banner').attr('src', 'data:image/png;base64,' + event.banner);
                            $('#sponsoredBy').attr('src', 'data:image/png;base64,' + event.sponsoredBy);
                            $('#footer').attr('src', 'data:image/png;base64,' + event.footer);
                        }

                        if (Array.isArray(response.eventCustom) && response.eventCustom.length > 0) {
                            var rowHtml = '<div class="row">'; 
                            var fieldCount = 0;

                            response.eventCustom.forEach(function (field, index) {
                                var isRequired = field.isMandatory ? 'required' : '';
                                var fieldHtml = `
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label" name="${field.labelName}" for="field-${index}">${field.labelName}</label>
                                            <div class="col-sm-9">`; 

                                switch (field.type) {
                                    case 'text':
                                    case 'email':
                                    case 'date':
                                    case 'number':
                                        fieldHtml += `
                                                <input type="${field.type}" id="field-${index}" name="UserRegCusForm[${index}].Value" class="form-control" placeholder="${field.labelName}" ${isRequired} />`;
                                        break;
                                    case 'dropdown':
                                        var options = field.value ? field.value.split(',').map(function (opt) {
                                            return `<option value="${opt.trim()}">${opt.trim()}</option>`;
                                        }).join('') : '';

                                        fieldHtml += `
                                                <select id="field-${index}" name="UserRegCusForm[${index}].Value" class="form-control" ${isRequired}>
                                                    <option value="">-- Select --</option>
                                                    ${options}
                                                </select>`;
                                        break;
                                    case 'date':
                                        fieldHtml += `
                                                <input type="date" id="field-${index}" name="UserRegCusForm[${index}].Value" class="form-control" ${isRequired} />`;
                                        break;
                                    default:
                                        console.warn('Unknown field type:', field.type);
                                }

                                fieldHtml += `
                                            </div>
                                        </div>
                                    </div>`;

                                rowHtml += fieldHtml;
                                fieldCount++;

                                if (fieldCount % 2 === 0) {
                                    rowHtml += '</div>'; 
                                    $('#customFieldsContainer').append(rowHtml); 
                                    rowHtml = '<div class="row">'; 
                                }
                            });

                            if (fieldCount % 2 !== 0) {
                                rowHtml += '</div>'; 
                                $('#customFieldsContainer').append(rowHtml);
                            }
                        } else {
                            console.warn('No custom fields available for this event.');
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('AJAX Error: ', status, error);
                    }
                });
            });

            $('#customForm').on('submit', function (e) {
                e.preventDefault();

                var userRegister = {
                    EventId: $('#eventSelect').val()
                };

                var formData = [];
                var existingLabels = new Set();

                $('input[name^="UserRegCusForm"], select[name^="UserRegCusForm"]').each(function () {
                    debugger
                    var index = $(this).attr('name').match(/\d+/)[0];
                    var labelName = $(this).closest('.form-group').find('label').attr('name');
                    var value = $(this).val();
                    var type = $(this).is('input[type="text"]') ? 'text' :
                        $(this).is('input[type="number"]') ? 'number' :
                            $(this).is('select') ? 'dropdown' : '';

                    console.log(`Index: ${index}, Label: ${labelName}, Value: ${value}, Type: ${type}`);

                    if (labelName && value && !existingLabels.has(labelName)) {
                        existingLabels.add(labelName);
                        formData.push({
                            LabelName: labelName,
                            Type: type,
                            Value: value,
                            EventId: userRegister.EventId
                        });
                    }
                });

                console.log('Form Data:', formData);
                var payload = {
                    userRegister: userRegister,
                    UserRegCusForm: formData
                };

                console.log('Payload:', payload);

                $.ajax({
                    url: '/api/AddUser',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(payload),
                    success: function (response) {
                        alert('Registration successful!');
                    },
                    error: function (error) {
                        console.error('Error submitting form:', error);
                        alert('There was an error submitting your form. Please try again.');
                    }
                });
            });


        });

    </script>
</body>
</html>
