@model UserRegistrationViewModel

@{
    IEnumerable<States>? State = ViewData["State"] as IEnumerable<States>;
    IEnumerable<CategoryMaster>? CategoryMaster = ViewData["Category"] as IEnumerable<CategoryMaster>;
    IEnumerable<UserEvent>? UserEvent = ViewData["Event"] as IEnumerable<UserEvent>;
    Layout = null;
}


<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BUSINESS SUPPORT SERVICE LLP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/assets/vendors/iconfonts/ionicons/dist/css/ionicons.css">
    <link rel="stylesheet" href="~/assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/assets/vendors/css/vendor.bundle.addons.css">
    <!-- inject:css -->
    <link rel="stylesheet" href="~/assets/css/shared/style.css">
    <link rel="stylesheet" href="~/assets/css/demo_1/style.css">
    <link rel="shortcut icon" href="~/assets/images/favicon.ico" />
    @*    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BIZFEST_Event.styles.css" asp-append-version="true" />*@

        <!-- Meta Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '5813893548712110');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=5813893548712110&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Meta Pixel Code -->
    <style>
        .form-group
        {
            margin-bottom:10px;
        }
    </style>
</head>
    <body>
    <div class="container-fluid mt-4 page-body-wrapper">
        <header>
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class=" col-12 navbar-menu-wrapper d-flex align-items-center">
            </div>
        </nav>
    </header> 
        <div class="col-12 grid-margin">
            <div class="col-12 row">
                @foreach (var userEvent in Model.userEvent)
                    {
                    if (userEvent.Logo != null)
                    {
                        string base64Logo = Convert.ToBase64String(userEvent.Logo);
                        string base64banner = Convert.ToBase64String(userEvent.Banner);
                        string base64Sponsor = Convert.ToBase64String(userEvent.Banner);
                         <div class="col-4">
                            <img src="data:image/png;base64,@base64Logo" alt="Logo"  class="img-fluid"/>
                        </div>
                         <div class="col-4">
                            <img src="data:image/png;base64,@base64banner" alt="Banner"  class="img-fluid"/>
                        </div>
                         <div class="col-4">
                            <img src="data:image/png;base64,@base64Sponsor" alt="Sponsor"  class="img-fluid"/>
                        </div>
                    }
                 }
            </div>
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Registration</h2>
                    <form id="customForm" class="form-sample">
                        <div class="row">
                           <div class="col-md-6">
                             <div class="form-group row">
                                 <label class="col-sm-3 col-form-label">Event Name</label>
                                 <div class="col-sm-9">
                                        <select id="eventSelect" name="EventId" class="form-control" required disabled>
                                            <option  value="" data-description="" data-hidden=""  fees="">-- select event --</option>    
                                            @foreach(var type in Model.userEvent)
                                            {       
                                               <option selected value="@type.Id" data-description="@type.Description" data-hidden="@type.IsHiddenField"  Fees="@type.Fees" >@type.EventName</option>               
                                            }
                                    </select>
                                  </div>
                             </div>
                           </div>
                           <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" placeholder="Enter Name" />
                                    </div>
                                </div>
                           </div>
                        </div>
                        @for (int i = 0; i < Model.EventCustom.Count; i += 2)
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">@Model.EventCustom[i].LabelName</label>
                                        <div class="col-sm-9">
                                            @switch (Model.EventCustom[i].Type)
                                            {
                                                case "text":
                                                    <input type="text" name="UserRegCusForm[@i].Value" class="form-control" placeholder="@Model.EventCustom[i].LabelName" />
                                                    break;
                                                case "number":
                                                    <input type="number" name="UserRegCusForm[@i].Value" class="form-control" placeholder="@Model.EventCustom[i].LabelName" />
                                                    break;
                                                case "email":
                                                    <input type="number" name="UserRegCusForm[@i].Value" class="form-control" placeholder="@Model.EventCustom[i].LabelName" />
                                                    break;
                                                @* case "select":
                                                     <select  class="form-control" >
                                                        <option value="">-- Select --</option>
                                                        @foreach (var option in Model.EventCustom[i].Options)
                                                        {
                                                            <option value="@option.Value">@option.Text</option>
                                                        }
                                                    </select> 
                                                    break; *@
                                            }
                                            <input type="hidden" name="UserRegCusForm[@i].LabelName" value="@Model.EventCustom[i].LabelName" />
                                            <input type="hidden" name="UserRegCusForm[@i].Type" value="@Model.EventCustom[i].Type" />
                                        </div>
                                    </div>
                                </div>

                                @if (i + 1 < Model.EventCustom.Count) // Check if there's a second field
                                {
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">@Model.EventCustom[i + 1].LabelName</label>
                                            <div class="col-sm-9">
                                                @switch (Model.EventCustom[i + 1].Type)
                                                {
                                                    case "text":
                                                        <input type="text" name="UserRegCusForm[@(i+1)].Value" class="form-control" placeholder="@Model.EventCustom[i + 1].LabelName" />
                                                        break;
                                                    case "number":
                                                        <input type="number" name="UserRegCusForm[@(i+1)].Value" class="form-control" placeholder="@Model.EventCustom[i + 1].LabelName" />
                                                        break;
                                                    case "email":
                                                        <input type="email" name="UserRegCusForm[@(i+1)].Value" class="form-control" placeholder="@Model.EventCustom[i].LabelName" />
                                                        break;
                                                   @*  case "select":
                                                         <select name="@Model.EventCustom[i + 1].Name" class="form-control" required="@Model.EventCustom[i + 1].IsRequired">
                                                            <option value="">-- Select --</option>
                                                            @foreach (var option in Model.EventCustom[i + 1].Options)
                                                            {
                                                                <option value="@option.Value">@option.Text</option>
                                                            }
                                                        </select> 
                                                        break; *@
                                                }
                                                <input type="hidden" name="UserRegCusForm[@(i+1)].LabelName" value="@Model.EventCustom[i + 1].LabelName" />
                                                <input type="hidden" name="UserRegCusForm[@(i+1)].Type" value="@Model.EventCustom[i + 1].Type" />
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }

                      @*   <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Mobile No</label>
                                    <div class="col-sm-9">
                                        <input type="number" class="form-control" placeholder="Enter Mobile No" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Email Address</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="text" placeholder="Enter Email Address" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Hospital/Clinic/Firm Name</label>
                                    <div class="col-sm-9">
                                       <input class="form-control" type="text" placeholder="Enter Bussiness name"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Category/Speciality</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="text" placeholder="Enter Speciality name"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">From Where Do You Know About DOCBIZCON 2.0</label>
                                    <div class="col-sm-9">
                                          <select onchange=showHide() class="form-control"  asp-for="@Model.WhereDoYouKnow">
                                             <option disabled selected>--Select--</option>
                                             <option value="referred">Referred</option>
                                             <option value="Media">Media</option>
                                             <option value="Friends">Friends</option> 
                                             <option value="Other">Other</option>
                                          </select> 
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Doctor Name </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" placeholder="Enter Doctor Name" />
                                    </div>
                                </div>
                            </div>
                        </div>
                          <div class="row">
                              <div class="col-md-6">
                                   <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Are You BNI Or Non BNI</label>
                                    <div class="col-sm-4">
                                        <div class="form-radio">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="feesRadios" id="membershipRadios1" value="Free" checked> yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-radio">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="feesRadios" id="feesRadios2" value="Paid"> No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Ask Chapter</label>
                                    <div class="col-sm-9">
                                        <select class="form-control">
                                         <option value="" selected>-- Select chapter--</option>
                                         <option value="Alchemist">Alchemist</option>
                                         <option value="Ashoka">Ashoka</option>
                                         <option value="Benchmark">Benchmark</option>
                                         <option value="Bahubali">Bahubali</option>
                                         <option value="Chanakya">Chanakya</option>
                                         <option value="Champions">Champions</option>
                                         <option value="Diamond">Diamond</option>
                                         <option value="Drona">Drona</option>
                                         <option value="Elite">Elite</option>
                                         <option value="Falcon">Falcon</option>
                                         <option value="Gladiators">Gladiators</option>
                                         <option value="Hallmark">Hallmark</option>
                                         <option value="Icon">Icon</option>
                                         <option value="Jupiter">Jupiter</option>
                                         <option value="Jupiter">Jupiter</option>
                                         <option value="Karma">Karma</option>
                                         <option value="Kuber">Kuber</option>
                                         <option value="Marvel">Marvel</option>
                                         <option value="Napoleon">Napoleon</option>
                                         <option value="Passion">Passion</option>
                                         <option value="Quantum">Quantum</option>
                                         <option value="Royale">Royale</option>
                                         <option value="Swastik">Swastik</option>
                                         <option value="Swaraj">Swaraj</option>
                                         <option value="Sardar">Sardar</option>
                                         <option value="Titans">Titans</option>
                                         <option value="Tata">Tata</option>
                                        </select>
                                    </div>
                                  </div>
                              </div>
                        </div>
                         <div class="row">
                              <div class="col-md-6">
                                   <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Are You student?</label>
                                    <div class="col-sm-4">
                                        <div class="form-radio">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="feesRadios" id="membershipRadios1" value="Free" checked> yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-radio">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="feesRadios" id="feesRadios2" value="Paid"> No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Select College</label>
                                    <div class="col-sm-9">
                                        <select class="form-control">
                                         <option value="" selected>-- Select College --</option>
                                         <option value="college">KGK Academy Foundation</option>
                                         <option value="college">SDJ International College</option>
                                         <option value="college">SVNIT</option>
                                         <option value="college">DRB</option>
                                         <option value="college">KP</option>
                                         <option value="college">MSU</option>
                                         <option value="college">PARUL</option>
                                         <option value="college">DDIT</option>
                                         <option value="college">SVNIT</option>
                                         <option value="college">LP SAVANI</option>
                                        </select>
                                    </div>
                                  </div>
                              </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                               <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Payment Mode</label>
                                <div class="col-sm-4">
                                    <div class="form-radio">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="feesRadios" id="membershipRadios1" value="Free" checked/> RazorPay
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-radio">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="feesRadios" id="feesRadios2" value="Paid"> Paytm
                                        </label>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div> *@
                        <button type="submit" class="btn btn-success col-md-2">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col-12">
                <footer class="mt-2">
                    <img src="~/Footer.png" class="img-fluid" alt="Footer"/>
                </footer>
            </div>
        </div>
     
    </div>


    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
     <script src="~/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/assets/vendors/js/vendor.bundle.addons.js"></script>
    <script src="~/assets/js/shared/off-canvas.js"></script>
    <script src="~/assets/js/shared/misc.js"></script>
    <script src="~/assets/js/demo_1/dashboard.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script>
       
        function OnPageLoad(){
            document.getElementById("FeeDetail").style.display="inline block";
            OnshowPayment();
        }

        function showHide() {  
            
            if($("#WhereDoYouKnow").val() == 'referred'){
                $("#divDoctorName").show();
            }
            else {
                $("#divDoctorName").hide();
            }
        }

        function OnshowPayment()
        {
           if($(".Paytm").is(':checked'))
           $('.fileUploadBox').show();
           else
           $('.fileUploadBox').hide();            
        }

       
        //function Chapter(required){
        //    var dropdown = document.getElementById('ChapterDropDown');
        //    dropdown.required=required;
        //    if(required){
        //        dropdown.style.display = 'block';
        //    }
        //    else{
        //        dropdown.style.display = 'none';
        //    }
        //}

        //$(document).ready(function(){
        //    $('input[name="option"]').click(function(){
        //        var selectedValue = $('#ChapterDropDown').val();
        //        $('#selvalue').val(selectedValue);
        //    });
        //    $('#ChapterDropDown').change(function(){
        //        debugger;
        //        var selectedValue = $(this).val();
        //        $('#selvalue').val(selectedValue);
        //    });
        //});


        //$(document).ready(function(){
        //    debugger
        //    $('#GetValue').on('change',function(){
        //        var selvalue = $("[type='radio']:checked").val();
        //        $('#selvalue').val($("[type='radio']:checked").val());
        //    });
        //});
        

      

        document.getElementById("ContactNo").addEventListener("input", function () {
            validateMobileNumber();
        });
        function validateMobileNumber() {
            const mobileNumber = document.getElementById("ContactNo").value;
            const mobileNumberError = document.getElementById("mobileNumberError");

            const regex = /^(\+?\d{1,2}[- ]?)?\d{10}$/;
            const isValid = regex.test(mobileNumber);

            if (!isValid) {
                mobileNumberError.textContent = "Please enter a valid mobile number.";
            } else {
                mobileNumberError.textContent = "";
            }

            return isValid;
        }

        document.querySelector("form").addEventListener("submit", function (event) {
            if (!validateMobileNumber()) {
                event.preventDefault();
            }
        });
        $(document).on('change', '.clsState', function (e) {
            $.get("/User/GetCityList", { StateId: $('.clsState').find(":selected").val() }, function (data) {
                $("#City").empty();
                $.each(data, function (index, row) {
                    $("#City").append("<option value='" + row.city + "'>" + row.city + "</option>")
                });
            });
        });


        $(document).on('change', '#IsStudent', function (e) {
            if ($('input[name="IsStudent"]:checked').val() == "No") {
                $(".clsStudent").css("display", "none");

                $(".clsInvitedByStudent").css("display", "block");
                if ($('input[name="clsInvitedByStudent"]:checked').val() == "Yes") {
                    $("#chapterMember").css("display", "block");
                }
            }
            else {
                $(".clsStudent").css("display", "block");
                $(".clsInvitedByStudent").css("display", "none");
                $("#chapterMember").css("display", "none");               
            }
        });


        $('#Save').submit(function () {
            return true;
        });

        $(document).on('change', '#IsBNIMember', function (e) {
            if ($('input[name="IsBNIMember"]:checked').val() == "No") {
                $(".clsBNIChapter").css("display", "none");

                $(".clsInvitedByBNIMember").css("display", "block");
                if ($('input[name="IsInvitedByBNIMember"]:checked').val() == "Yes") {
                    $("#chapterMember").css("display", "block");
                }
                //if ($('input[name="IsInvitedByBNIMember"]:checked').val() == "No") {
                //    $("#FeeDetail").css("display", "block");
                //}
            }
            else {
                $(".clsBNIChapter").css("display", "block");
                $(".clsInvitedByBNIMember").css("display", "none");
                $("#chapterMember").css("display", "none");               
            }
        });

        $(document).on('change', '#IsInvitedByBNIMember', function (e) {
            if ($('input[name="IsInvitedByBNIMember"]:checked').val() == "No") {
                $("#chapterMember").css("display", "none");              

            } else {
                $("#chapterMember").css("display", "block");               
            }
        });


        $(document).ready(function() {
            debugger                                           
            onEventChange();
            OnshowPayment();
        });

        function onEventChange() {
            debugger
            var ctrl = $("#EventId");
            $("#FeeDetail").css("display", "block");
            $("#SpanFee").html($('option:selected', $(ctrl)).attr('Fees') +" + GST");    
            $("#Fees").val($('option:selected', $(ctrl)).attr('Fees'));                
            $("#SpanFeesDescription").html($('option:selected', $(ctrl)).attr('data-description'));              
           
            //fees GST Count
            var FeeS = parseFloat($('option:selected', $(ctrl)).attr('Fees'));
            var TotalAmount = Math.round(FeeS + (FeeS * 18 / 100));
            $("#SpanTotalFee").html("Total: "+TotalAmount)
            debugger
            //hidden field
            if($('option:selected', $(ctrl)).attr('data-hidden') == "Yes")
            {
                 $("#divChapter").css("display","none");
                 //$("#divStudent").css("display","none");
                
            }else{
               $("#divChapter").css("display","block");
               //$("#divStudent").css("display","block");
            }
        }

        $(document).on('change', '#EventId', function (e) {            
           debugger;
            onEventChange();
            
        });
        
        $(document).on('change','#Fee')

    </script>
    <script>
        $(document).ready(function () {
            $('#customForm').on('submit', function (e) {
                e.preventDefault();

                // Gather predefined fields
                var userRegister = {
                    EventId: $('#eventSelect').val()
                };

                // Gather custom form data
                var formData = [];

                $('input[name^="UserRegCusForm"]').each(function () {
                    var index = $(this).attr('name').match(/\d+/)[0]; // Get the index from the input name
                    var labelName = $(this).siblings('input[name^="UserRegCusForm"][name$="LabelName"]').val();
                    var type = $(this).siblings('input[name^="UserRegCusForm"][name$="Type"]').val();
                    var value = $(this).val();

                    // Check for duplicates and nulls
                    if (labelName && value) {
                        var existingEntry = formData.find(item => item.LabelName === labelName);
                        if (!existingEntry) {
                            formData.push({
                                LabelName: labelName,
                                Type: type,
                                Value: value,
                                EventId: $('#eventSelect').val()
                            });
                        }
                    }
                });

                // Payload object to be sent to the server
                var payload = {
                    userRegister: userRegister,
                    UserRegCusForm: formData
                };

                console.log(payload);

                // Send the AJAX request
                $.ajax({
                    url: '/api/AddUser',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(payload),
                    success: function (response) {
                      
                    },
                    error: function (error) {
                        console.error('Error submitting form:', error);
                    }
                });
            });
        });


    </script>
</body>
</html>
